[Desktop Entry]
Encoding=UTF-8
Name=Link to  handler.c 
Type=Link
URL=https://gitlab.com/VagelisN/project2019/blob/6bf18b0b9cdf4be2c8e0a876457c52d419b84e13/handler.c
Icon=text-html
